/* Start custom CSS for shortcode, class: .elementor-element-39a1f41 */.foy-countdown .foy-time{
	color: #ed4266 !important;
	background: #ffffff !important;
	border: 1px solid #ed4266;
	border-radius: 5px;
	font-size: 24px !important;
}
.foy-countdown .foy-dot{
	color: #ed4266 !important;
	background: none !important;
}
.foy-days, .foy-days-divider{
    display: none;
}
.foy-time-label{
	font-size: 8px !important;
	line-height: 20px !important
	
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-837e19f */.foy-countdown .foy-time{
	color: #ed4266 !important;
	background: #ffffff !important;
	border: 1px solid #ed4266;
	border-radius: 5px;
	font-size: 24px !important;
}
.foy-countdown .foy-dot{
	color: #ed4266 !important;
	background: none !important;
}
.foy-days, .foy-days-divider{
    display: none;
}
.foy-time-label{
	font-size: 8px !important;
	line-height: 20px !important
	
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-79a086d */.foy-countdown .foy-time{
	color: #ed4266 !important;
	background: #ffffff !important;
	border: 1px solid #ed4266;
	border-radius: 5px;
	font-size: 24px !important;
}
.foy-countdown .foy-dot{
	color: #ed4266 !important;
	background: none !important;
}
.foy-days, .foy-days-divider{
    display: none;
}
.foy-time-label{
	font-size: 8px !important;
	line-height: 20px !important
	
}/* End custom CSS */